@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252323;
  cursor: url('../assets/cursors/cursor.png'), auto;
}

a {
  &:hover {
    cursor: url('../assets/cursors/cursor-view.png'), auto;
  }

  &:active {
    cursor: url('../assets/cursors/cursor-view--active.png'), auto;
  }

  &.wave:hover {
    cursor: url('../assets/cursors/cursor-wave.png'), auto;
  }

  &.sup:hover {
    cursor: url('../assets/cursors/cursor-sup.png'), auto;
  }
}

.view-large {
  cursor: url('../assets/cursors/cursor-view-large.png'), auto;
}

@media (prefers-color-scheme: dark) {
  body {
    cursor: url('../assets/cursors/cursor-light.png'), auto;
  }

  a {
    &:hover {
      cursor: url('../assets/cursors/cursor-view-light.png'), auto;
    }

    &:active {
      cursor: url('../assets/cursors/cursor-view--active-light.png'), auto;
    }

    &.wave:hover {
      cursor: url('../assets/cursors/cursor-wave-light.png'), auto;
    }

    &.sup:hover {
      cursor: url('../assets/cursors/cursor-sup-light.png'), auto;
    }
  }
}
